.list, .add-list-button {
    width: 20em;
    margin: 2em;
    float: left;
}

.add-list-button {
    align-items: center;
}

.add-card-button, div.kanban-card {
    width: 15em;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

div.close-button {
    float: right;
}